<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zi.SalesModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Zi.SalesModule.Properties.Settings>
      <setting name="CultureName" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="BaseTextColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="BaseIconColor" serializeAs="String">
        <value>79, 202, 178</value>
      </setting>
      <setting name="BaseBorderColor" serializeAs="String">
        <value>79, 202, 178</value>
      </setting>
      <setting name="BaseHoverColor" serializeAs="String">
        <value>4, 119, 250</value>
      </setting>
      <setting name="AllowSayBye" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VoiceBotVolumn" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VoiceBotSpeakerRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowInitSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowClickSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorTextColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SuccessTextColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
      <setting name="WarningTextColor" serializeAs="String">
        <value>255, 128, 0</value>
      </setting>
      <setting name="InfoTextColor" serializeAs="String">
        <value>Aqua</value>
      </setting>
      <setting name="HeaderBackColor" serializeAs="String">
        <value>46, 61, 74</value>
      </setting>
      <setting name="FooterBackColor" serializeAs="String">
        <value>46, 61, 74</value>
      </setting>
      <setting name="LeftSideBarBackColor" serializeAs="String">
        <value>46, 61, 74</value>
      </setting>
      <setting name="RightSideBarBackColor" serializeAs="String">
        <value>46, 61, 74</value>
      </setting>
      <setting name="BodyBackColor" serializeAs="String">
        <value>38, 49, 61</value>
      </setting>
      <setting name="BlurTextColor" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="AllowSoundtrack" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundtrackFileName" serializeAs="String">
        <value>LangQuenChieuThuSoundtrack.wav</value>
      </setting>
      <setting name="DeveloperFacebookLink" serializeAs="String">
        <value>https://www.facebook.com/ZI.TECH.DEV.201</value>
      </setting>
      <setting name="DeveloperMailToCmd" serializeAs="String">
        <value>mailto:zitech.dev[at]gmail.com?subject=Customer Feedback&amp;bcc=sotayvaodoi[at]gmail.com</value>
      </setting>
      <setting name="TableItemSize" serializeAs="String">
        <value>200, 200</value>
      </setting>
      <setting name="AreaItemSize" serializeAs="String">
        <value>200, 50</value>
      </setting>
      <setting name="ProductItemSize" serializeAs="String">
        <value>200, 400</value>
      </setting>
      <setting name="DropShadowDepth" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ItemBackColor" serializeAs="String">
        <value>28, 39, 49</value>
      </setting>
      <setting name="DropShadowColor" serializeAs="String">
        <value>34, 46, 58</value>
      </setting>
      <setting name="CornerRadius" serializeAs="String">
        <value>20</value>
      </setting>
    </Zi.SalesModule.Properties.Settings>
  </userSettings>
</configuration>