<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zi.ZiCoffee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Zi.ZiCoffee.Properties.Settings.QLCFConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=QLCF;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Zi.ZiCoffee.Properties.Settings>
            <setting name="IsGreeting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBye" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSoundTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAppearance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceItemWidth" serializeAs="String">
                <value>163</value>
            </setting>
            <setting name="ServiceItemHeigh" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="TableItemWidth" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="TableItemHeigh" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="SpeakerVolumn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeakerRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Goodbye" serializeAs="String">
                <value>Goodbye, See you later!</value>
            </setting>
            <setting name="Welcome" serializeAs="String">
                <value>"Welcome to Coffee Shop Managerment. How are you ,today?"</value>
            </setting>
            <setting name="companyAddressBill2" serializeAs="String">
                <value>Q.Bình Thạnh - TP.HCM - Việt Nam</value>
            </setting>
            <setting name="CurrencySymbol" serializeAs="String">
                <value>VNĐ</value>
            </setting>
            <setting name="CultureName" serializeAs="String">
                <value>vi-VN</value>
            </setting>
            <setting name="MainBack" serializeAs="String">
                <value />
            </setting>
            <setting name="HFBack" serializeAs="String">
                <value />
            </setting>
            <setting name="PopupBack" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentBack" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonBackNoBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledBack" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFore" serializeAs="String">
                <value />
            </setting>
            <setting name="HFFore" serializeAs="String">
                <value />
            </setting>
            <setting name="PopupFore" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentFore" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonForeNoBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="SuccessFore" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorFore" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningFore" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeBack" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximizeBack" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseBack" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButtonBackBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonForeBorder" serializeAs="String">
                <value />
            </setting>
            <setting name="WinStateBack" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightEffectBack" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledFore" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonBackNavHover" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonBackBlueHover" serializeAs="String">
                <value />
            </setting>
            <setting name="TableItemTempBack" serializeAs="String">
                <value>0, 168, 255</value>
            </setting>
            <setting name="TableItemFore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ServiceItemEnabledBack" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ServiceItemNameFore" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="TableItemUsingBack" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ServiceItemDisabledBack" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ServiceItemPriceFore" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SplashId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReadOnlyTextBoxBack" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadOnlyTextBoxFore" serializeAs="String">
                <value />
            </setting>
        </Zi.ZiCoffee.Properties.Settings>
    </userSettings>
</configuration>